<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index page</title>
  </head>

  <body>
    <div class="container">
      <h2>Some content of index page!<h2>
    </div>
    <a href="{{ url( 'some_redirect' ) }}">Redirect</a>
  </body>
</html>